@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');

* {
  margin: 0;
  padding: 0;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

:root {
  --bg-color: #eceff1;
  --txt-color: #607D8B;
  --title-color: #37474f;
  --link-color: #2196f3;
  --link-color-hover: #1976D2;
  --text-shadow: 0 1px 2px rgba(96,125,139,.3);
  --img-shadow: 0 5px 10px rgba(96, 125, 139, .2);
}

body {
  height: 100vh;
  font-family: 'Open Sans', sans-serif;
  background-color: var(--bg-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-shadow: var(--text-shadow);
}

/*--UI------------------------------------------------------------------------*/
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--title-color);
  font-weight: 300;
}

p {
  color: var(--txt-color);
}

a {
  color: var(--link-color);
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 1
}

a:hover {
  color: var(--link-color-hover);
}

/*--HEADLINE------------------------------------------------------------------*/
.headline {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 400px;
  margin-bottom: 2rem;
}

.headline > .pp {
  width: 100px;
  height: 80px;
  flex: 0;
}

.headline > .pp > img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  box-shadow: var(--img-shadow);
}

.headline > .title-group {
  flex-grow: 1;
  margin-left: 1rem;
}

/*--SOCIAL LINKS--------------------------------------------------------------*/
.social-links {
  margin-bottom: 1rem;
  width: 400px;
}


/*--DESCRIPTION---------------------------------------------------------------*/
.description p {
  min-width: 400px;
  max-width: 400px;
  margin-bottom: .5rem;
}
